       $cor-azul-1: #345D7E;
       $cor-azul-2: #345D7E;
       $cor-verde-1: #3CB371;
       $cor-verde-2: #3CB371;
       $cor-vermelha-1: #CD5C5C;
       $cor-vermelha-2: #CD5C5C;
       $cor-branco-1: white;
       $cor-cinza-1: gray;
       $cor-cinza-2: #9A9A9A;
       $cor-cinza-3: #e8edea;
       $cor-cinza-4: #2b2b2b;
       $cor-preto-1: black;
       $cor-preto-2: black;
       $cor-laranja-1: #bd7313;
       $cor-laranja-2: #bd7313;